<h1>Listagem de Restaurantes</h1>

<table class="table table-striped table-hover">
	<tr>
		<th>Nome</th>
		<th>Endereço</th>
		<th>Especialidade</th>
		<th></th>
		<th></th>
	</tr>

	<% @restaurantes.each do |r| %>
		<tr>
			<td><%= r.nome %></td>
			<td><%= r.endereco %></td>
			<td><%= r.especialidade %></td>
			<td>
				<%= link_to 'Mostrar', action: 'show', id: r %>
			</td>
			<td>
				<%= link_to 'Excluir', {action: 'destroy', id: r}, {method: 'delete'} %>
			</td>
		</tr>
	<% end %>
</table>

<%= link_to "Novo", action: "new" %>