<h1>Exibindo Restaurante</h1>

<p>
	<b>Nome: </b>
	<%= @restaurante.nome %>
</p>
<p>
	<b>Endereço: </b>
	<%= @restaurante.endereco %>
</p>
<p>
	<b>Especialidade: </b>
	<%= @restaurante.especialidade %>
</p>
<p>
	<b>Nota média: </b>
	<%= @restaurante.qualificacoes.average :nota %>
</p>
<p>
	<b>Total de qualificações: </b>
	<%= @restaurante.qualificacoes.count %>
</p>
<p>
	<b>Preço médio: </b>
	<%= @restaurante.qualificacoes.average :valor_gasto %>
</p>

<br/>

<%= link_to "Qualificar este restaurante", controller: 'qualificacoes',
								 		   action: 'new',
					 	 		           restaurante: @restaurante %>

<br/>
<%= link_to "< Lista de Restaurantes", action: 'index' %>

<%= novo_comentario @restaurante %>